<%- include('partials/header', { title: 'Acceso Denegado' }) %>

<div class="row" style="margin-top: 60px;">
    <div class="col s12 m6 offset-m3 center-align">
        <i class="material-icons" style="font-size: 100px; color: #f44336;">block</i>
        <h3>403 - Acceso Denegado</h3>
        <p class="grey-text text-darken-1" style="font-size: 18px;">
            No tienes permisos suficientes para acceder a esta página.
        </p>
        <div style="margin-top: 30px;">
            <a href="/signIn" class="btn waves-effect waves-light blue darken-2">
                Ir a Iniciar Sesión <i class="material-icons right">arrow_forward</i>
            </a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
