<%- include('partials/header', { title: 'Página No Encontrada' }) %>

<div class="row" style="margin-top: 60px;">
    <div class="col s12 m6 offset-m3 center-align">
        <i class="material-icons" style="font-size: 100px; color: #ff9800;">error_outline</i>
        <h3>404 - Página No Encontrada</h3>
        <p class="grey-text text-darken-1" style="font-size: 18px;">
            La página que buscas no existe.
        </p>
        <div style="margin-top: 30px;">
            <a href="/signIn" class="btn waves-effect waves-light blue darken-2">
                Ir al Inicio <i class="material-icons right">home</i>
            </a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
